# dependencies
node_modules/
/.pnp
.pnp.js

# production
/build

# testing
/coverage

# Environment / secrets
*.env
key.json
*.cert
*.key

# Misc
.DS_Store
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*